<% content_for :title, "Edit Resource" %>

<div class="resource-sheet-form-page">
  <h1>Edit Resource</h1>

  <%= render "form", resource_sheet: @resource_sheet %>

  <br>

  <div class="form-actions">
    <%= link_to "Show this resource", @resource_sheet, class: "btn btn-secondary" %>
    <%= link_to "Back to resources", resource_sheets_path, class: "btn btn-secondary" %>
  </div>
</div>
