<% content_for :title, "Editing company" %>

<div class="company-form-page">
  <h1>Editing company</h1>

  <%= render "form", company: @company %>

  <br>

  <div class="form-actions">
    <%= link_to "Show this company", @company, class: "btn btn-secondary" %>
    <%= link_to "Back to companies", companies_path, class: "btn btn-secondary" %>
    <%= button_to "Destroy this company", @company, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
  </div>
</div>
