<% content_for :title, "Editing opportunity" %>

<div class="opportunity-form-page">
  <h1>Editing opportunity</h1>

  <%= render "form", opportunity: @opportunity %>

  <br>

  <div class="form-actions">
    <%= link_to "Show this opportunity", @opportunity, class: "btn btn-secondary" %>
    <%= link_to "Back to opportunities", opportunities_path, class: "btn btn-secondary" %>
  </div>
</div>
